<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <div class='title'>
            <h1>Consulta de Festa</h1>
        </div>
        <div class='conteudo'>
            <div class='forms'>
                <form method="POST" action='/festaConsulta'>
                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='statusConsulta'>Status da festa</label>
                            <select class='campo' autofocus id="statusConsulta" name="statusConsulta">
                                <option value=""></option>
                                <option value="A">Agendado</option>
                                <option value="P">Pago</option>
                                <option value="E">Entregue</option>
                                <option value="F">Fechado</option>
                            </select>
                        </div>

                        <input type='submit' class='botao botaoConsulta' id='submit' value='Consultar' name='consulta'/>

                    </div>
                </form>
            </div>
            <div class='table'>
                <table class='tabela'>
                    <thead>
                        <tr class='linhaCabecalho'>
                            <td>Data da Festa</td>
                            <td>UF</td>
                            <td>Cidade</td>
                            <td>Endereço</td>
                            <td>Cliente</td>
                            <td>Valor</td>
                            <td>Ação</td>
                        </tr>
                    </thead>
                    <tbody>
                    <% 
                    if(data){
                        data.forEach(function(details) { 
                            dataFesta = details.dataFesta.dia + "/" + 
                                        details.dataFesta.mes + "/" + 
                                        details.dataFesta.ano;
                            %>
                        <tr class='linha1'>
                            <td><a href='/festaAlterar/<%= details._id %>'><%= dataFesta %></a></td>
                            <td><a href='/festaAlterar/<%= details._id %>'><%= details.uf %></a></td>
                            <td><%= details.cidade %></td>
                            <td><%= details.endereco %></td>
                            <td><%= details.nomeCliente %></td>
                            <td><%= details.valorFesta %></td>
                            <td><a href='/festaAdicionarItens/<%= details._id %>'>Lista de Itens</a></td>
                        </tr>    
                    <% })} %>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->

    </body>
    <footer>
        <%- include('../partials/footer.ejs') %>
        <%  if (mensagem){  %>
            <script>alert('<%= conteudo %>')</script>
        <% } %>
    </footer>
</html>