<!DOCTYPE html>
<html>
    <head>
        <%- include('../includes/header.ejs') %>
    </head>
    <body>
        <%- include('../includes/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <% if (data){ 
            data.forEach(function(details){ 
                dataFesta = details.dataFesta.ano + "-" + 
                            details.dataFesta.mes + "-" + 
                            details.dataFesta.dia;
        %>

        <div class='title'>
            <h1>Alterar itens de uma Festa</h1>
        </div>

        <div class='conteudo'>
            <div class='linha'>
                <div class='conjunto campoTamMed'>
                    <label class='label' for='dataFesta'>Data da festa</label>
                    <input class='campo' type='date' value='<%= dataFesta %>' id='dataFesta' name='dataFesta' readonly/>
                </div>
                <div class='conjunto campoTamMin'>
                    <label class='label' for='horaMontagem'>Entrega</label>
                    <input class='campo' type='text' value='<%= details.horaMontagem %>' size='3' placeholder='horas' id='horaMontagem' name='horaMontagem' readonly/>
                </div>
                <div class='conjunto campoTamMin'>
                    <label class='label' for='horaDesmontagem'>Retirada</label>
                    <input class='campo' type='text' value='<%= details.horaDesmontagem %>' size='3' placeholder='horas' id='horaDesmontagem' name='horaDesmontagem' readonly/>
                </div>
            </div>
            
            <div class='tabelaConsulta'>
                <div class='linha'>
                    <div class="conjunto">
                        <label>Consulta de Item</label>
                        <table class='tabela'>
                            <thead>
                                <tr class='linhaCabecalho'>
                                    <td class='campoTamMed'>
                                        <input class='campo' autofocus type='text' onkeyup='getDados()' id='consultaItem' placeholder="Nome"/>
                                    </td>
                                    <td>
                                        <input class='campo' type='text' onkeyup='getDados()' id='consultaTipo' placeholder="Tipo"/>
                                    </td>
                                    <td>
                                        <input class='campo' type='text' onkeyup='getDados()' id='consultaTema' placeholder="Tema"/>
                                    </td>
                                    <td class='campoTamMin'>
                                        Preço
                                    </td>
                                    <td class='campoTamMin'>
                                        Ação
                                    </td>
                                </tr>
                            </thead>
                            <tbody id='resultado'>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class='subtitle'>
                <h2>Lista de Itens</h2>
            </div>
                <form method='POST' action='/festaAdicionarItens/<%= details._id %>'>

                    <table class='tabela' id='listaDeItens'> 
                        <thead>
                            <tr class='linhaCabecalho'>
                                <td>Item</td>
                                <td>Tipo</td>
                                <td>Tema</td>
                                <td>Preço</td>
                                <td><input class='botaoTabela botaoAlterar' type='submit' value='Atualizar Lista' name='botao'/></td>
                            </tr>
                        </thead>
                        <tbody id='lista'>
<%
if(details.itens){
    details.itens.forEach(function(item) { %>

    <tr class='linha1'>
        <td><input type='hidden' name='ids[]' value='<%= item._id %>'/><input type='hidden' name='itens[]' value='<%= item.item %>'/><%= item.item %></td>
        <td><input type='hidden' name='tipo[]' value='<%= item.tipo %>'/><%= item.tipo %></td>
        <td><input type='hidden' name='tema[]' value='<%= item.tema %>'/><%= item.tema %></td>
        <td><input type='hidden' name='preco[]' value='<%= item.preco %>'/><%= item.preco %></td>
        <td><button class='botaoTabela botaoExcluir' onclick='removerLinha(this)'>Remover</button></td>
    </tr>
        
<% })} %>

                            </tbody>
                        </table>
                    </form>
                
        </div>
        <% })} %>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->
    </body>
    <footer>
        <%- include('../includes/footer.ejs') %>
        <script src='/js/request.js'></script>
        <script>
            function adicionarLinha(id, item, tipo, tema, preco) {
                var tabela = document.getElementById('lista');
                var linha = document.createElement("tr");
                linha.setAttribute('class', 'linha1');
                linha.insertCell(0).innerHTML = "<input type='hidden' name='ids[]' value='" + id + "'/>" + 
                                                "<input type='hidden' name='itens[]' value='" + item + "'/>" + item; 
                linha.insertCell(1).innerHTML = "<input type='hidden' name='tipo[]' value='" + tipo + "'/>" + tipo; 
                linha.insertCell(2).innerHTML = "<input type='hidden' name='tema[]' value='" + tema + "'/>" + tema;
                linha.insertCell(3).innerHTML = "<input type='hidden' name='preco[]' value='" + preco + "'/>" + preco;
                linha.insertCell(4).innerHTML = "<button class='botaoTabela botaoExcluir' onclick='removerLinha(this)'>Remover</button>"; 
                document.getElementById('lista').appendChild(linha);
                return false;
            }

            function removerLinha(linha){
                var i=linha.parentNode.parentNode.rowIndex;
                document.getElementById('listaDeItens').deleteRow(i);
            }
            
            function getDados(){
                var item =  document.getElementById("consultaItem").value;
                var tipo =  document.getElementById("consultaTipo").value;
                var tema =  document.getElementById("consultaTema").value;
                
                if (item.length > 2 || tipo.length > 2 || tema.length > 2) {
                    var result = document.getElementById("resultado");
                    var xmlreq = CriarRequest();
                    xmlreq.open("GET", "/ajaxFestaItens?item=" + item + "&tipo=" + tipo + "&tema=" + tema , true);
                    xmlreq.onreadystatechange = function(){

                    if (xmlreq.status == 200)
                        result.innerHTML = xmlreq.responseText;
                    else 
                        result.innerHTML = "Erro: " + xmlreq.statusText;
                    };
                    xmlreq.send(null);
                } else {
                    document.getElementById("resultado").innerHTML = '';
                }
            }

        </script>
    </footer>
</html>