<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <% if (data){ 
            data.forEach(function(details){ %>

        <div class='title'>
            <h1>Alterar itens de uma Festa</h1>
        </div>

        <div class='linha'>
            <label class='label' for='dataFesta'>Data da festa</label>
            <input type='date' value='<%= details.dataFesta %>' id='dataFesta' name='dataFesta' readonly/>

            <label class='label' for='horaMontagem'>Entrega as</label>
            <input type='text' value='<%= details.horaMontagem %>' size='3' placeholder='horas' id='horaMontagem' name='horaMontagem' readonly/>

            <label class='label' for='horaDesmontagem'>Desmontagem as</label>
            <input type='text' value='<%= details.horaDesmontagem %>' size='3' placeholder='horas' id='horaDesmontagem' name='horaDesmontagem' readonly/>
        </div>
        
        <div class='subtitle'>
            <h3>Consulta de itens</h3>
        </div>

        <table border=1>
            <thead>
                <tr>
                    <th><input type='text' onkeyup='getDados()' id='consultaItem' placeholder="Mínimo 3 caracteres"/></th>
                    <th>Item</th>
                    <th>Tipo</th>
                    <th>Tema</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody id='resultado'>
                
            </tbody>
        </table>


        <br/><br/>

        <div class='subtitle'>
            <h3>Lista de itens</h3>
        </div>
        <form method='POST' action='/festaAdicionarItens/'>
            <input type='hidden' name='id' value='<%= details._id %>' />
            <table id='listaDeItens' border='1'> 
                <thead>
                    <tr>
                        <th><input type='submit' value='Atualizar Lista' name='botao'/></th>
                        <th>Item</th>
                        <th>Tipo</th>
                        <th>Tema</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody id='lista'>
<%
if(details.itens){
    details.itens.forEach(function(item) { %>

        <tr>
            <td><button onclick='removerLinha(this)'>Remover</button></th>
            <td><input type='hidden' name='ids[]' value='<%= item._id %>'/><input type='hidden' name='itens[]' value='<%= item.item %>'/><%= item.item %></td>
            <td><input type='hidden' name='tipo[]' value='<%= item.tipo %>'/><%= item.tipo %></td>
            <td><input type='hidden' name='tema[]' value='<%= item.tema %>'/><%= item.tema %></td>
            <td><input type='hidden' name='preco[]' value='<%= item.preco %>'/><%= item.preco %></td>
        </tr>
        
<% })} %>

                </tbody>
            </table>
        </form>
        <% })} %>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO ------------------------- -->
    </body>
    <footer>
        <%- include('../partials/footer.ejs') %>
        <script src='/js/request.js'></script>
        <script>
            function adicionarLinha(id, item, tipo, tema, preco) {
                var tabela = document.getElementById('lista');
                var linha = document.createElement('tr');
                linha.insertCell(0).innerHTML = "<button onclick='removerLinha(this)'>Remover</button>"; 
                linha.insertCell(1).innerHTML = "<input type='hidden' name='ids[]' value='" + id + "'/>" + 
                                                "<input type='hidden' name='itens[]' value='" + item + "'/>" + item; 
                linha.insertCell(2).innerHTML = "<input type='hidden' name='tipo[]' value='" + tipo + "'/>" + tipo; 
                linha.insertCell(3).innerHTML = "<input type='hidden' name='tema[]' value='" + tema + "'/>" + tema;
                linha.insertCell(4).innerHTML = "<input type='hidden' name='preco[]' value='" + preco + "'/>" + preco;
                document.getElementById('lista').appendChild(linha);
                return false;
            }

            function removerLinha(linha){
                var i=linha.parentNode.parentNode.rowIndex;
                document.getElementById('listaDeItens').deleteRow(i);
            }
            
            function getDados(){
                var item =  document.getElementById("consultaItem").value;
                
                if (item.length > 2) {
                    var result = document.getElementById("resultado");
                    var xmlreq = CriarRequest();

                    xmlreq.open("GET", "/ajaxFestaItens/" + item, true);
                    xmlreq.onreadystatechange = function(){

                    if (xmlreq.status == 200)
                        result.innerHTML = xmlreq.responseText;
                    else 
                        result.innerHTML = "Erro: " + xmlreq.statusText;
                        
                    };
                    xmlreq.send(null);
                } else {
                    document.getElementById("resultado").innerHTML = '';
                }
            }

        </script>
    </footer>
</html>