<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <div class='title'>
            <h1>Editar Item</h1>
        </div>

        <%
            if(data){
                data.forEach(function(details){ 
                    
        %>

        <div class="forms">
            <form name="form2" method="POST" action="/itemAlterar/<%= details._id %>">
                <div class='linha'>
                    <label class='label' for='item'>Item</label>
                    <input type='text' value='<%= details.item %>' id='item' name='item'/>
                </div>

                <div class='linha'>
                    <label class='label' for='tipo'>Tipo de item</label>
                    <input type='text' value='<%= details.tipo %>' id='tipo' name='tipo'/>
                </div>

                <div class='linha'>
                    <label class='label' for='tema'>Temática do item</label>
                    <input type='text' value='<%= details.tema %>' id='tema' name='tema'/>
                </div>

                <div class='linha'>
                    <label class='label' for='preco'>Preço</label>
                    <input type='text' value='<%= details.preco %>' id='preco' name='preco'/>
                </div>

                <div class='linha'>
                    <label class='label' for='descricao'>Descrição do item</label>
                    <input type='text' value='<%= details.descricao %>' id='descricao' name='descricao'/>
                </div>

                <div class='linha'>
                    <input type="submit" name="alterar" value="Alterar">

                    <button><a href="/itemExcluir/<%= details._id %>">Excluir</a></button>
                </div>
            </form>
        </div>
        <% })} %>
    </body>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</html>