<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <div class='title'>
            <h1>Editar Item</h1>
        </div>

        <%
            if(data){
                data.forEach(function(details){   
        %>
        <div class='conteudo'>
            <div class="forms">
                <form name="form2" method="POST" action="/itemAlterar/<%= details._id %>">
                    <div class='linha'>
                        <div class="conjunto campoTamMax">
                            <label class='label' for='item'>Item</label>
                            <input class='campo' autofocus type='text' value='<%= details.item %>' id='item' name='item'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto campoTamMed">
                            <label class='label' for='tipo'>Tipo de item</label>
                            <input class='campo' type='text' value='<%= details.tipo %>' id='tipo' name='tipo'/>
                        </div>

                        <div class="conjunto campoTamMed">
                            <label class='label' for='tema'>Temática do item</label>
                            <input class='campo' type='text' value='<%= details.tema %>' id='tema' name='tema'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto campoTamMin">
                            <label class='label' for='preco'>Preço</label>
                            <input class='campo' type='text' value='<%= details.preco %>' id='preco' name='preco'/>
                        </div>
                        <div class="conjunto campoTamMin">
                            <label class='label' for='valorAluguel'>Valor aluguel</label>
                            <input class='campo' type='text' id='valorAluguel' name='valorAluguel'/>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto campoTamMax">
                            <label class='label' for='descricao'>Descrição do item</label>
                            <textarea class='texto' id='descricao' name='descricao'><%= details.descricao %></textarea>
                        </div>
                    </div>

                    <div class='linha'>
                        <div class="conjunto">
                            <input type="submit" class='botao botaoAlterar' name="alterar" value="Alterar">
                        </div>  
                        <div class="conjunto">
                            <button class='botao botaoExcluir'><a href="/itemExcluir/<%= details._id %>">Excluir</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% })} %>
    </body>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</html>