<!DOCTYPE html>
<html>
    <head>
        <%- include('./includes/header.ejs') %>
    </head>
    <body>
        <%- include('./includes/menu.ejs') %>
        <!-- ------------------------- AQUI COMEÇA O BLOCO DE CONTEUDO -------------------------- -->
        <div class='title'>
            <h1>Consulta de Usuários</h1>
        </div>
        <div class='conteudo'>
            <div class='forms'>
                <form method="POST" action='/userConsulta'>
                    <div class='linha'>
                        <div class='conjunto campoTamMed'>
                            <label class='label' for='nomeConsulta'>Consulta de Nome</label>
                            <input class='campo' autofocus type='text' id='nomeConsulta' name='nomeConsulta'/>
                        </div>

                        <input type='submit' class='botao botaoConsulta' id='submit' value='Consultar' name='consulta'/>

                    </div>
                </form>
            </div>
            
            <div class='list'>
                <ul>
<% 
                if(data){
                    data.forEach(function(details) { %>

                    <li>
                        <strong>Nome</strong>
                        <p><%= details.nome %></p>

                        <strong>Login</strong>
                        <p><a href='/userAlterar/<%= details._id %>'><%= details.login %></a></p>

                        <strong>CPF</strong>
                        <p><%= details.cpf %></p>

                        <strong>Telefone</strong>
                        <p><%= details.telefone %></p>

                        <strong>E-mail</strong>
                        <p><%= details.email %></p>
                    </li>
                <% })} %>
                </ul>
            </div>
        </div>
        <!-- ------------------------- AQUI TERMINA O BLOCO DE CONTEUDO -------------------------- -->
    </body>
    <footer>
        <%- include('./includes/footer.ejs') %>
        <%  if (mensagem){  %>
            <script>alert('<%= mensagem %>')</script>
        <% } %>
    </footer>
</html>